.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.input {
	padding: 0.8rem;
	margin-bottom: 1rem;
	border: 1px solid var(--input-border);
	border-radius: 10px;
	background-color: var(--input-bg);
	color: #e0e0e0;
	font-size: 1rem;
	outline: none;
	transition: all 0.2s ease-in-out;
}

.input:focus {
	border-color: var(--accent-color);
	box-shadow: 0 0 8px rgba(59, 130, 246, 0.3);
	background-color: #2a2a2a;
}

.input[type="number"] {
	-moz-appearance: textfield;
	appearance: textField;
}
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
