.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: fit-content;
	margin: 2rem auto;
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--bg-color-card);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form select:invalid {
	color: #999;
}

.doubleInputContainer {
	display: flex;
	gap: 40px;
	width: max-content;
}

.doubleInputContainer > * {
  min-width: 150px;
}

.genderContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
