.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 90%;
	max-width: 500px;
	margin: auto;
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--bg-color-dark);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.form select:invalid {
	color: #999;
}

.doubleInputContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	width: 100%;
}

.doubleInputContainer > * {
	flex: 1;
	min-width: 150px;
	max-width: 220px;
	box-sizing: border-box;
}

.genderContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
	width: 100%;
}

.genderContainer select {
	width: 100%;
}
